@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredericka+the+Great&family=Frijole&family=Gorditas&family=Great+Vibes&family=Libre+Barcode+39&family=Megrim&family=Monoton&family=Orbitron&family=Pacifico&family=Playfair+Display+SC&family=Press+Start+2P&family=Sacramento&family=Syncopate&family=Tangerine&family=Zen+Dots&display=swap');
:root{
	font-family: 'Bangers', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Frijole', cursive;
font-family: 'Gorditas', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Megrim', cursive;
font-family: 'Monoton', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Zen Dots', cursive;
--header-color:#7942b0;
--main-p-color:#4d4d79;

--p-color:#cc41ff;
--s-color:#ffb20a;
--t-color:#d3d3d5;
--f-color:#211f20;
--green-color:#9acd32;
}
@font-face {
    font-family: 'oswald';
    src: url('04B_30__.TTF');
}
a{text-decoration:none;color:black;}
	*,*:before,*:after{
		padding:0;
		margin:0;
		box-sizing:border-box;
	}
body {
    
    background-size: 100px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    position: fixed;
	z-index:10;
    background: white;
    font-family: 'Zen Dots', cursive;
	background: linear-gradient(131deg, white 65%, transparent 55%);
}

.header-items {
    overflow: hidden;
	border-radius:20px;
    position: relative;
    flex: 0 1 100px;
    flex-basis: inherit;
}.brand{
	
}
.brand-name {
    font-size: 1.5rem;
    color: var(--main-p-color);
}
.brand-name > div{
	font-size:2.4rem;
	display:inline-block;
	padding:1.0rem;
	padding-bottom:0;
	padding-right:2rem;
	font-family: 'Tangerine';
	color:var(--header-color);
	transition:1s;
}
.brand-name > i{
	padding:0.5rem;
	transition:1s;
}
.header-wrapper:hover i{
	transition-timing-function:cubic-bezier(0.66, 0.57, 0.35, 1.57);;
	transform:rotate(730deg);
}
.navlinks {
	border-radius:20px;
	margin:1rem;
}
.navlinks-circle{
	width:20px;
	height:20px;
	background:#dca1ff;
	position:absolute;
	top:-20px;
	right:-20px;
	border-radius:50% ;
	transition:0.3s;
	z-index:-1;
}
.of-h{
	border-radius:20px 0px 0px 20px;
}
.navlinks:hover .navlinks-circle{
	width:180%;
	height:600%;
	top:-65px;
	right:-120px;
}
.navlinks > ul{
	border-radius: 29px;
	display:flex;
	flex-wrap:wrap;
}.navlinks > ul > li {
    margin: 0.5rem;
    padding: 0.2rem 1rem;
    background:#ff980099;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(1, -1.1, 0, 1.67);
    border-radius: 10px;
    color: white;
}
.navlinks > ul > li:hover{
	transform:scale(1.2);
	background:black;
	
}
.navlinks > ul > li > a{
	color:white;
}
main{
}
.home {
	padding:15vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem; */
    background: var(--main-p-color);
	perspective:20rem;
}

.home-header{
	padding:1rem;
	margin-left:1rem;
	font-family: 'Press Start 2P', cursive;
	background:white;
	font-size:0.8rem;
}

.home > p{
    font-family: 'Bangers', cursive;
	margin:4rem 1rem 1rem 1rem;
}
.skills-wrapper i{
	font-size:2.5rem;
	padding:1rem;

}
.skills-wrapper i:hover{
	color:#abff00;
	outline:1px white solid;
}
.skills-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.svg-main{
	position:relative;
	width:100%;
	overflow:hidden;
}
.svg-main > svg{height:auto;width:100vw;}
.svg-main > svg path{height:100%;width:100vw;fill: var(--main-p-color);}
.svg11,.svg21{
	position:relative;right:0;
	animation: svgbar1 15s linear 0s infinite;
}
@keyframes svgbar1{
	to{
		right:100%;
	}
}
.svg12{
	position:absolute;
	top:0;
	right:-100%;
	animation: svgbar2 15s linear 0s infinite
}
.svg2{
	position:absolute;right:-100%;
	animation: svgbar2 20s linear 0s infinite alternate;
}
@keyframes svgbar2{
	to{
		right:0%;
	}
}
.svg22{
	position:absolute;
	top:0;
	bottom:0;
	right:-100%;
	animation: svgbar2 15s linear 0s infinite
}
.home-page {
    background: linear-gradient(180deg, #4d4d79c2 50%, #ff9307 50%);
    position: relative;
    top: -7rem;
}
.home-header{position:relative;}
.home-header:before{
	position:absolute;
	top:0;
	bottom:0;
	left:19px;
	right:0;
	background:white;
	content:"";
	animation: hhb 5s steps(25);
	animation-fill-mode: forwards;
}.home-header:after{
	position:absolute;
	width:8px;
	height:90%;
	top:5%;
	left:9px;
	background:black;
	background:tomato;
	content:"";
	animation: hha 5s steps(25) forwards
	,hha2 0.2s infinite;
	
	
}
@keyframes hhb{
	to{
		left:100%;
		
	}
}

@keyframes hha{
	to{
		left:100%;
	}
}
@keyframes hha2{
	to{
		background:cyan;
	}
}
.ll{
	width:50vw;
	height:50vw;
	clip-path: polygon(51% 0, 96% 22%, 91% 59%, 82% 90%, 26% 100%, 8% 64%, 11% 9%);
	background:red;
	border-radius:50%;
}
.profile {
	padding:1rem;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Frijole', cursive;
    background: var(--main-p-color);
    margin-right: auto;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
	text-align:center;
	perspective:25rem;
}
.profile > *{
	flex:1 1 50%;
}
.profile img {
    position: relative;
    width: 300px;
    object-fit: cover;
    height: 350px;
    border-radius: 30px;
    padding: 1rem;
    /* outline-style: double; */
    outline-offset: -30px;
	filter:grayscale(1);
}
.home-section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #9acd32;
}
.home-section-wrapper > section{
	flex:1 1 100%;
}
@media only screen and (max-width:25rem){
	
	.header-items{
		overflow:inherit;
	}
	.home-page {
    position: relative;
    right:0rem !important; 
    top: 10rem;
}
.header-wrapper {
    display: flex;
	flex-direction:column;
    justify-content: space-between;
    padding: 1rem;
    width: -webkit-fill-available;
    position: fixed;
    z-index: 10;
    background: white;
    font-family: 'Zen Dots', cursive;
    background: linear-gradient(131deg, var(--header-color) 65%, transparent 55%);
}
.brand-name > div{display:none}
.brand-name {
    color: white;
}
.navlinks > ul > li{font-size:0.6rem;flex:1 1 0%;}
.navlinks-circle{display:none;}
.home > h1 {
    margin: 0;
    font-size: 0.6rem;
}.profile img{width:200px;height:250px;}
.navlinks {
    border-radius: 20px;
    margin: 0rem;
	text-align:center;
}.home{padding:10vh 0;}
}


.contact{background:#ff6347;padding:2rem;text-align:center;}
.contact h1{font-family: 'Bangers', cursive}
.contact h1 small{font-size:1.5rem;padding-left:1rem;}
.c-links{font-size:0.8rem !important;padding:0.4rem;background:white;font-size:0.9rem;display:flex;text-align:left;margin-top:1rem;}
.c-links i{font-size:2rem;padding-right:0.3rem;}

.moon {
    width: 90%;
    height: 100%;
    background: radial-gradient(at 50% 42%,#ffffff4d 43%,#29293d 83%,#4d4d79 100% );
    position: absolute;
    z-index: 0;
    bottom: 0rem;
    animation: moon 1s linear 0s infinite;
}
.tv-section {
    position: relative;
    transform: rotate3d(0, 1, 0, 20deg);
}
.tv {
    position: relative;
    z-index: 2;
    width: 38rem;
    filter: drop-shadow(0px 0.5rem 4px black);
    /* box-shadow: 0 0 22rem black inset; */
    -webkit-box-reflect: below -24px linear-gradient(to bottom,#ff000000 82%,#ff000063 100%);
}
.tv-se {
    position: absolute;
    top: 9rem;
    z-index: 1;
    text-align: center;
    width: 80%;
}